.header {
  padding-bottom: 20px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100px;
  background:linear-gradient(217deg, #242627 1.99%, #161718 101.43%);
  z-index: 5;
}

.flex {
  display: flex;
  align-items: center;
}

.headerItems {
  justify-content: space-between;
  padding-top: 20px;
  z-index: 3;
}

.headerList {
  border-bottom: 3px solid var(--electric);
  height: 50px;
}

.listIcon {
  margin-right: 5px;
}

.listText {
  font: 500 18px "RadioCanada-Medium", sans-serif;
  background: var(--electric-gradient, linear-gradient(262deg, #04C1C1 -1.66%, #9BE3E3 -1.65%, #04C1C1 64.99%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  border-bottom: 3px solid linear-gradient(262deg, #04C1C1 -1.66%, #9BE3E3 -1.65%, #04C1C1 64.99%);
}

.nav {
  right: -100%;
  width: 30%;
  top: 0;
  height: 100vh;
  z-index: 8;
  display: flex;
  position: absolute;
  padding-top: 35px;
  gap: 20px;
  border-radius: 10px;
  padding-inline: 2rem;
  transition: all 0.5s;
  flex-direction: column;
  background-color: var(--black);
  filter: drop-shadow(0px 0px 7px rgba(3, 60, 70, 0.4));
}

.showMenu {
  right: 0;
}

.burgerList {
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}

.navLinks {
  color: var(--electric);
  display: flex;
  align-items: center;
}

.linkIcons {
  margin-right: 10px;
}

.nav .navLinks:first-child {
  color: var(--white);
  font: 400 1.22em "Gotham-Regular", sans-serif;
}

.nav .navLinks:nth-child(2) {
  font-size: 18px;
  color:var(--white);
  font-family: "Gotham-Light", sans-serif;
}

.menu,
.hideMenu {
  --s: 30px; /* control the size */
  --c: #04c1c1c1; /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  z-index: 10;
}

.menu:before,
.menu:after ,
.hideMenu:before,
.hideMenu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu::before {
  transform: rotate(45deg);
}
.menu::after {
  transform: rotate(-45deg);
}

.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

@media (min-width:1800px) {
  .nav {
    width: 16.5%;
  }
}

@media (max-width:1024px) {
  .nav {
    width: 31%;
  }
}

@media (max-width:834px) {
  .nav {
    width: 39%;
  }
}

@media (max-width:768px) {
  .nav {
    width: 42%;
  }
}

@media (max-width:600px) {
  .nav {
    width: 55%;
  }
}

@media (max-width:576px) {
  .nav {
    width: 100%;
  }
}

@media (max-width:414px) {
  .listText {
   display: none;
  }
  .listIcon {
   width: 3.5rem;
   height: 2rem;
   margin-bottom: 10px;
  }
  .barcodeImg {
   width: 7.5rem;
   height: 3.5rem;
  }
 }

@media (max-width:320px) {
 .listText {
  display: none;
 }
 .listIcon {
  width: 2.9rem;
  height: 2rem;
  margin-bottom: 10px;
 }
 .barcodeImg {
  width: 6.5rem;
  height: 3.1rem;
 }
}

