.newsTitle {
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  padding: 5rem 0 2.5rem;
  margin-top: 2rem;
}

.newsItems {
  gap: 20px;
}

.flex,
.requestContainer,
.newsReqsub,
.subscribeContainer,
.subscribeLink {
  display: flex;
}

.white {
  color: var(--white);
}

.newsSection {
  width: 17rem;
  background-color: var(--black);
  padding: 20px 20px;
}

.newsSectionItems {
  font: 1.33em/125% "PlayFairDisplay-Medium", sans-serif;
  width: 15ch;
  margin-bottom: 10px;
}

.calendarItem,
.calendarAdd,
.newsReqsub {
  align-items: center;
  justify-content: space-between;
}

.dataText {
  color: var(--dark-grey);
  font:  0.88em/0.83em "Gotham-Regular", sans-serif;
}

.newsReqsub {
  align-items: normal
}

.requestContainer,
.subscribeContainer {
  background: url(/assets/img/requestbg.png) no-repeat center top / cover;
  width: 630px;
  align-items: center;
  justify-content: center;
  margin: 7rem 0;
  padding: 2.5rem 0;
}

.requestText {
  width: 32ch;
  color: var(--black);
  font: 0.88em/125% "Gotham-Light", sans-serif;
}

.requestLink {
  background-color: var(--black);
  padding: 0.7rem 0.7rem;
}

.requestImage {
  margin-right: 5px;
}

.requestLinkItem {
  font: 1em/0.94em "Gotham-Light", sans-serif; 
}

.subscribeContainer {
  background: url(/assets/img/subscribebg.png) no-repeat center top / cover
}

.subscribeText {
  font: 1.11em/125% "Gotham-Light", sans-serif;
  width: 12ch;
}

.subscribeLink {
  background-color: var(--white);
  padding: 0.3rem 1.5rem;
}

.subscribeButton {
  margin-right: 10px;
}

.subscribeLink input {
  outline: none;
}

.subscribeLink input::placeholder {
  color: rgb(184, 184, 184);
  font: 1em/0.94em "Gotham-Light", sans-serif;
} 
