.newsTitle {
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  padding: 5rem 0 2.5rem;
  margin-top: 2rem;
}

.newsItems {
  gap: 20px;
}

.flex {
  display: flex;
}

.white {
  color: var(--white);
}

.newsSection {
  width: 17rem;
  background-color: var(--black);
  padding: 20px 20px;
}

.newsSectionItems {
  font: 1.33em/125% "PlayFairDisplay-Medium", sans-serif;
  width: 15ch;
  margin-bottom: 10px;
}

.calendarItem,
.calendarAdd {
  align-items: center;
  justify-content: space-between;
}

.dataText {
  color: var(--dark-grey);
  font:  0.88em/0.83em "Gotham-Regular", sans-serif;
}

@media (max-width:1300px) {
  .newsItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width:1024px) {
  .newsItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .newsTitle {
    text-align: center;
  }
}

@media (max-width:480px) {
  .newsItems {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newsTitle {
    text-align: center;
  }
}
