.mainItems {
  flex-direction: column;
}

.sectionTitle {
  color: var(--white);
  font: 2.66em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin-bottom: 3rem;
}

.sectionSpan {
  color: var(--electric);
}

.sectionLinks {
  color: var(--white);
  font: 1em "Gotham-Light", sans-serif;
  margin-bottom: 15px;
}

.phone {
  font-size: 1.22em;
}

.flex,
.wroldItem,
.mainItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionContactsLinks {
  font: 1em "Gotham-Light", sans-serif;
  border-bottom: 3px solid var(--electric);
  padding: 3rem 0 0.7rem;
  margin: 0 4rem;
}

.contactIcon {
  margin-right: 10px;
}

.contactLink {
  color: var(--green, #63DEA6);
  border-bottom: 3px solid var(--green);
}

.requestLink {
  color: var(--electric, #04C1C1);
}

.wroldItem {
  margin-top: 4rem;
}

@media (max-width:480px) {
  .sectionTitle {
    font-size: 2.5em;
  }

  .sectionContactsLinks {
    font-size: 1em;
    margin: 0 1rem;
  }

  .contactIcon {
    margin-right: 5px;
  }

  .contactWorld {
    height: 17vh;
   }
}


@media (max-width:360px) {
  .sectionTitle {
    font-size: 2em;
    margin-bottom: 1.5rem;
  }
  
  .sectionContactsLinks {
    font-size: 0.71em;
    padding: 2rem 0 0.4rem;
    margin: 0 0.33rem;
  }

  .contactIcon {
    margin-right: 2px;
  }

  .wroldItem {
    margin-top: 2rem;
  }

  .contactWorld {
   height: 15vh;
  }
}