.sectionTitle {
  color: var(--white);
  font: 500 2.66em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

.sectionSpan {
  color: var(--electric);
}

.sectionLinks {
  display: block;
  color: var(--white);
  font: 400 1em "Gotham-Light", sans-serif;
  margin-bottom: 15px;
}

.phone {
  font-size: 1.22em;
}

.flex,
.wroldItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionContactsLinks {
  font: 400 1em "Gotham-Light", sans-serif;
  border-bottom: 3px solid var(--electric);
  padding: 3rem 0 0.7rem;
  margin: 0 4rem;
}

.contactIcon {
  margin-right: 10px;
}

.contactLink {
  color: var(--green, #63DEA6);
  border-bottom: 3px solid var(--green);
}

.requestLink {
  color: var(--electric, #04C1C1);
}

.wroldItem {
  margin-top: 4rem;
}

@media (max-width:576px) {
  .sectionTitle {
    font-size: 3em;
    margin: 1.5rem 0;
  }

  .sectionContactsLinks {
    font-size: 0.90em;
    padding: 1.5rem 0 0.5rem;
    margin: 0 2rem;
  }

  .wroldItem {
    margin-top: 2.5rem;
  }

  .contactWorld {
    height: 23vh;
  }
}

@media (max-width:428px) {
  .sectionTitle {
    font-size: 2.7em;
    margin: 1.5rem 0;
  }

  .sectionContactsLinks {
    font-size: 0.85em;
    padding: 1.5rem 0 0.5rem;
    margin: 0 1rem;
  }

  .wroldItem {
    margin-top: 2.7rem;
  }

  .contactWorld {
    height: 22vh;
   }
}

@media (max-width:414px) {
  .sectionTitle {
    font-size: 2.5em;
    margin: 1.5rem 0;
  }

  .sectionContactsLinks {
    font-size: 0.75em;
    padding: 1.5rem 0 0.5rem;
    margin: 0 1rem;
  }
  
  .wroldItem {
    margin-top: 2.5rem;
  }

  .contactWorld {
    height: 21.5vh;
  }

}

@media (max-width:393px) {
  .sectionContactsLinks {
    font-size: 0.78em;
    margin: 0 0.8rem;
  }

  .wroldItem {
    margin-top: 2.5rem;
  }

  .contactWorld {
    height: 21.5vh;
   }
}

@media (max-width:375px) {
  .sectionContactsLinks {
    font-size: 0.75em;
    padding: 1.5rem 0 0.5rem;
    margin: 0 0.8rem;
  }

  .contactIcon {
    margin-right: 2px;
  }

  .wroldItem {
    margin-top: 2.5rem;
  }

  .contactWorld {
   height: 20vh;
  }
}

@media (max-width:320px) {
  .sectionTitle {
    font-size: 2em;
    margin-bottom: 1.5rem;
  }
  

  .sectionContactsLinks {
    font-size: 0.71em;
    padding: 2rem 0 0.4rem;
    margin: 0 0.33rem;
  }

  .contactIcon {
    margin-right: 2px;
  }

  .wroldItem {
    margin-top: 2rem;
  }

  .contactWorld {
   height: 15vh;
  }
}