.importItems {
  background: url(/assets/img/importbg.png) no-repeat center bottom / cover ;
}

.import {
  padding: 7rem 0;
}

.white {
  color: var(--white, #fff);
}

.importTitle{
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
}

.importImage {
  margin: 1.5rem 0;
}

.importText {
  font: 1.22em/145% "RadioCanada-Light", sans-serif;
}

.width {
  width: 29em;
}

.padd {
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

@media (max-width:660px) {
  .importTitle {
    font-size: 2em;
    text-align: center;
  }

  .importImage {
    display: flex;
    margin: 1.5rem auto;
  }

  .importText {
    font-size: 0.9em; 
    width: 95vw;
    text-align: justify;
  }
}

@media (max-width:480px) {
  .importTitle {
    font-size: 2em;
    text-align: center;
  }

  .width {
    width: 100%;
    padding: 0 20px 0 0;
  }

  .importImage {
    display: flex;
    margin: 1.5rem auto;
  }

  .importText {
    font-size: 0.9em; 
    text-align: justify;
  }
}

@media (max-width:360px) {
  .importTitle {
    font-size: 1.8em;
    text-align: center;
  }

  .importImage {
    margin: 1.5rem auto;
  }

  .importText {
    font-size: 0.7em; 
    width: 100%;
    text-align: left;
  }
}