.importItems {
  background: url(/assets/img/importbg.png) no-repeat center bottom / cover ;
}

.import {
  padding: 7rem 0;
}

.importTitle{
  color: var(--white);
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
}

.importImage {
  margin: 1.5rem 0;
}

.importText {
  color: var(--white);
  font: 1.22em/145% "RadioCanada-Light", sans-serif;
}

.width {
  width: 29em;
}

.padd {
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

@media (max-width:360px) {
  .importItems {
    background: url(/assets/img/importbg.png) no-repeat center right / cover ;
  }
  .importTitle {
    font-size: 2em;
    text-align: center;
  }

  .importImage {
    display: flex;
    margin: 1.5rem auto;
  }

  .importText {
    font-size: 0.7em; 
    width: 95vw;
    text-align: center;
  }
}