.singleItems {
  margin-top: 5.5rem;
}

.singleTitle,
.logisticTitle {
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;  
  padding: 4rem 0 3rem;
}

.flex {
  display: flex;
}

.singleImageItems {
  gap: 20px;
  margin-left: 2rem;
}

.requestContainer {
  background: url(/assets/img/requestbg.png) no-repeat center top / cover;
  align-items: center;
  justify-content: center;
  width: 39.375rem;
  padding: 2.5rem 0;
}

.black {
  color: var(--black, #000);  
}

.bgBlack {
  background-color: var(--black, #000);
}

.singlesubText {
  font: 0.88em "Gotham-Regular", sans-serif;
  margin-right: 20px;
}

.requestLink {
  padding: 0.7rem 0.7rem;
}

.requestImage {
  margin-right: 5px;
}

.requestLinkItem {
  color: var(--white, #fff);
  font: 1em/0.94em "Gotham-Light", sans-serif; 
}

.singleFeatures {
  color: var(--white, #fff);
  font: 1.44em/108% "PlayFairDisplay-Medium", sans-serif ;  
  margin: 12px;
}

.featuresInfoItems {
  gap: 5px;
}

.featuresInfo {
  justify-content: center;
  gap: 15rem;
  padding: 1rem ;
}

.map:not(:last-child) {
  margin-bottom: 1rem;
}

.featuresTextItem {
  margin-bottom: 5px;
}

.featuresTextItem,
.featuresMainTextItem {
  color: var(--dark-grey ,#676767);
  font: 0.88em "Gotham-Medium", sans-serif ;
}

.logisticTitle {
 font-family: "PlayFairDisplay-Medium", sans-serif;
 padding: 2rem 0 1.5rem;
}

.logisticContainer {
  gap: 15px;
}

.logisticItems {
  width: 17.5rem;
  padding: 1rem 0.5rem 0.1rem;
}

.logisticText,
.logisticSecondText,
.productDesc {
  color: var(--dark-grey, #676767);  
  font: 1em/125% "RadioCanada-Regular", sans-serif;
  margin-bottom: 1rem;
}

.logisticSecondText,
.productDesc {
  font-family: "RadioCanada-Light";
}

.productDesc {
  font-size: 1.22em;
  line-height: 145%;
  margin-bottom: 5rem;
}

.white {
  color: var(--white, #fff);
}

@media (max-width: 1280px) {

  .singleTitle,
  .logisticTitle {
    font-size: 2em;
    padding: 2rem 0 1.5rem;
  }

  .singleImageItems {
    gap: 15px;
    margin-left: 0.5rem;
  }

  .requestContainer {
    width: auto;
    padding: 1.5rem 0.5rem;
  }

  .featuresInfo {
    gap: 8rem;
    padding: 0.5rem ;
  }

  .map:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .featuresTextItem,
  .featuresMainTextItem {
    font-size: 0.8em;
  }

  .logisticTitle {
    padding: 1rem 0 0.5rem;
  }

  .logisticContainer {
    gap: 8px;
  }

  .logisticItems {
    width: 13rem;
    padding: 0.3rem 0.2rem;
  }

  .logisticText {
    font-size: 0.8em;
  }

  .productDesc {
    font-size: 0.9em;
    line-height: 130%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 992px) {
  .logisticTitle {
    font-size: 3em;
    padding: 3rem 0 2rem;
  }

  .singleTitle {
    font-size: 2em;
  }
  
  .flex {
    flex-wrap: wrap;
  }
  
  .singleImageItems {
    gap: 10px; 
    margin-left: 1.5rem;
  }
  
  .singleImage {
    width: 84vw;
    height: auto;
  } 

  .requestContainer {
    align-items: center;
    justify-content: center;
    width: 84vw;
    padding: 1.5rem 0;
  }
  
  .singlesubText {
    font-size: 0.9em;
  }
  
  .requestLink {
    padding: 0.5rem;
  }
  
  .requestLinkItem {
    font-size: 1em;
  }
  
  .singleFeatures {
    font-size: 1.5em;
    margin: 8px;
  }
  
  .featuresInfoItems {
    gap: 5px; 
  }
  
  .featuresInfo {
    justify-content: space-around;
    gap: 13px;
    padding: 0.5rem ;
  }
  
  .map:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  
  .featuresTextItem,
  .featuresMainTextItem {
   font-size: 0.9em;
  }
  
  .logisticTitle {
    padding: 1.5rem 0 1rem;
  }
  
  .logisticContainer {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logisticItems {
    margin: 0 auto;
    padding: 0.5rem 0.25rem 0.1rem; 
  }

}

@media (max-width:600px) {
  .logisticTitle {
    font-size: 3em;
    padding: 3rem 0 2rem;
  }

  .singleTitle {
    font-size: 2em;
  }
  
  .flex {
    flex-wrap: wrap;
  }
  
  .singleImageItems {
    gap: 10px; 
    margin-left: 1.5rem;
  }
  
  .singleImage {
    width: 84vw;
    height: auto;
  } 

  .requestContainer {
    align-items: center;
    justify-content: center;
    width: 84vw;
    padding: 1.5rem 0;
  }
  
  .singlesubText {
    font-size: 0.9em;
  }
  
  .requestLink {
    padding: 0.5rem;
  }
  
  .requestLinkItem {
    font-size: 1em;
  }
  
  .singleFeatures {
    font-size: 1.5em;
    margin: 8px;
  }
  
  .featuresInfoItems {
    gap: 5px; 
  }
  
  .featuresInfo {
    justify-content: space-around;
    gap: 13px;
    padding: 0.5rem ;
  }
  
  .map:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  
  .featuresTextItem,
  .featuresMainTextItem {
   font-size: 0.9em;
  }
  
  .logisticTitle {
    padding: 1.5rem 0 1rem;
  }
  
  .logisticContainer {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logisticItems {
    margin: 0 auto;
    padding: 0.5rem 0.25rem 0.1rem; 
  }

}

@media (max-width:360px) {
  .logisticTitle {
    font-size: 2.5em;
    padding: 3rem 0 2rem;
  }

  .singleTitle {
    font-size: 1.5em;
  }
  
  .flex {
    flex-wrap: wrap;
  }
  
  .singleImageItems {
    gap: 10px; 
    margin-left: 0.5rem;
  }
  
  .singleImage {
    width: 84vw;
    height: auto;
  } 

  .requestContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0;
  }
  
  .singlesubText {
    font-size: 0.8em;
    margin-right: 10px;
  }
  
  .requestLink {
    padding: 0.5rem;
  }
  
  .requestImage {
    margin-right: 3px;
  }
  
  .requestLinkItem {
    font-size: 0.9em;
  }
  
  .singleFeatures {
    font-size: 1.2em;
    margin: 8px;
  }
  
  .featuresInfoItems {
    gap: 3px; 
  }
  
  .featuresInfo {
    justify-content: flex-start;
    gap: 10px;
    padding: 0.5rem ;
  }
  
  .map:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  .featuresTextItem,
  .featuresMainTextItem {
   font-size: 0.8em;
  }
  
  .logisticTitle {
    padding: 1.5rem 0 1rem;
  }
  
  .logisticContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .logisticItems {
    margin: 0 auto;
    padding: 0.5rem 0.25rem 0.1rem; 
  }
  
  .logisticText,
  .logisticSecondText,
  .productDesc {
    font-size: 0.9em;
    margin-bottom: 0.5rem;
  }
  
  .productDesc {
    font-size: 1em; 
    line-height: 135%; 
    margin-bottom: 3rem; 
  }
  
}