.main {
  background: url(../../public/assets/img/homebg.png) no-repeat center top / cover;
}

.swiperItemsMain {
  padding: 6rem 2rem 0 3rem;
  margin-top: 6.25rem;
}

.flex {
  display: flex;
}

.mainTitle {
  color: var(--white);
  font: 700 3em/107% "PlayFairDisplay-Bold", sans-serif;
  margin-bottom: 1.20em;
}

.titleSpan {
  color: var(--electric, #04C1C1);
}

.mainText {
  color: var(--grey, #C8C8C8);
  font: 1.22em/145% "RadioCanada-Light", sans-serif;
  margin-bottom: 3.6em;
}

.linkItems {
  color: var(--black, #111010);
  background: var(--green, #63DEA6);
  font: 1em "RadioCanada-Medium", sans-serif;
  padding: 19px 20px;
  display: inline-flex;
}

@media (max-width: 1024px) {
  .mainTitle{
    font-weight: 500;
    font-size: 2.5em;
  }
}

@media (max-width: 992px) {
  .swiperItemsMain {
    padding: 3rem 2rem 0 2rem;
  }
  
  .mainTitle {
    font-size: 1.5em;
  }
  
  .mainText {
    font-size: 1em;
    margin-bottom: 2em; 
  }
  
  .sliderImgItem {
    width: 50vw;
  }
  
  .linkItems {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {

  #swiperWrapper{
    height: 47rem;
  }
  
  .swiperItemsMain {
    padding: 3rem 1.5rem 0 1.5rem;
  }
  
  .flex {
    flex-direction: column; 
    align-items: center; 
    
  }
  
  .mainTitle {
    font-size: 1.8em;
    margin-bottom: 0.8em; 
    text-align: center; 
  }
  
  .mainText {
    font-size: 1em;
    margin-bottom: 2.4em; 
    text-align: center; 
  }
  
  .linkItems {
    font-size: 0.9em;
    padding: 15px 16px; 
    display: inline-block; 
    margin: 0 0  0rem 5rem;
  }
  
  .sliderImgItem {
    width: 90vw;
    height: 90vw;
   }

}

@media (max-width:360px) {
  .sliderContainer {
    height: 100vh;
  }
  .swiperItemsMain {
    padding: 3rem 1rem 0 1rem;
    margin-top: 4rem;
  }
  
  .flex {
    flex-direction: column; 
    align-items: center; 
  }
  
  .mainTitle {
    font-size: 2em;
    margin-bottom: 0.8em; 
    text-align: center; 
  }
  
  .mainText {
    font-size: 1em;
    margin-bottom: 2.4em; 
    text-align: center; 
  }
  
  .linkItems {
    font-size: 0.9em;
    padding: 15px 16px; 
    display: inline-block; 
    margin: 0 0  1em 40px;
  }
  
  .sliderImgItem {
    width: 100vw;
    height: 100vw;
    padding: 15px ;
    margin-top: 50px; 
   }

}