.main {
  background: url(../../public/assets/img/homebg.png) no-repeat center top / cover;
}

.swiperItemsMain {
  padding: 6rem 2rem 0 3rem;
  margin-top: 6.25rem;
}

.flex {
  display: flex;
}

.mainTitle {
  color: var(--white, #fff);
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  margin-bottom: 1.20em;
}

.titleSpan {
  color: var(--electric, #04C1C1);
}

.mainText {
  color: var(--grey, #C8C8C8);
  font: 1.22em/145% "RadioCanada-Light", sans-serif;
  margin-bottom: 3.6em;
}

.linkItems {
  color: var(--black, #111010);
  background: var(--green, #63DEA6);
  font: 1em "RadioCanada-Medium", sans-serif;
  padding: 19px 0;
  width: 30%;
  justify-content: center;
}

@media (max-width: 1090px) {
  #swiperWrapper {
    margin-top: 0.5rem;
    height: 65vh;
  }

  .mainTitle{
    font-weight: 500;
    font-size: 2.0em;
  }
}

@media (max-width: 1024px) {
  .mainTitle{
    font-weight: 500;
    font-size: 2.5em;
  }
}

@media (max-width: 992px) {
  #swiperWrapper {
    margin-top: 0.5rem;
    height: 60vh;
  }

  .mainTitle{
    font-weight: 500;
    font-size: 2.0em;
  }

  .swiperItemsMain {
    padding: 3rem 2rem 0 2rem;
  }
  
  .mainTitle {
    font-size: 1.5em;
  }
  
  .mainText {
    font-size: 1em;
    margin-bottom: 2em; 
  }
  
  .sliderImgItem {
    width: 50vw;
  }
  
  .linkItems {
    font-size: 0.9em;
  }
}
@media (max-width: 700px) {
  #swiperWrapper {
    margin-top: 6rem;
    height: 100%;
  }

  .swiperItemsMain {
    padding: 2rem 1.5rem 0 2.5rem;
    margin-top: 1rem;
  }
  
  .mainTitle {
    font-size: 1.7em;
    margin-bottom: 0.6em; 
   
  }
  
  .mainText {
    font-size: 0.9em; 
    margin-bottom: 1.8em; 
  }
  
  .linkItems {
    font-size: 0.7em;
    padding: 10px 11px; 
    flex-direction: row;
    width: 60%;
    justify-content: center; 
    align-items: center;
  }

  .buttonIcon {
    width: 20px;
    height: 20px;
  }
  
  .sliderImgItem {
    width: 100%; 
    height: 100%; 
    margin-top: 20px; 
  }
}


@media (max-width: 600px) {
  #swiperWrapper {
    margin-top: 5rem;
    height: 29vh;
  }
 
  .swiperItemsMain {
    padding: 2rem 1.5rem 0 2.5rem;
    margin-top: 1rem;
  }
  
  .mainTitle {
    font-size: 1.5em;
    margin-bottom: 0.6em; 
   
  }
  
  .mainText {
    font-size: 0.75em; 
    margin-bottom: 1.8em; 
  }
  
  .linkItems {
    font-size: 0.7em;
    padding: 10px 11px; 
    flex-direction: row;
    width: 60%;
    justify-content: center; 
    align-items: center;
  }

  .buttonIcon {
    width: 20px;
    height: 20px;
  }
  
  .sliderImgItem {
    width: 100%; 
    height: 100%; 
    margin-top: 20px; 
  }
}

@media (max-width:480px) {
  #swiperWrapper {
    height: 56vh;
  }
 
  .swiperItemsMain {
    padding: 3rem 2rem 0 2rem;
    margin-top: 1.5rem;
  }
  
  .flex {
    flex-direction: column; 
    align-items: center; 
  }
  
  .mainTitle {
    font-size: 1em;
    margin-bottom: 0.5em; 
    text-align: center; 
  }
  
  .mainText {
    font-size: 0.5em;
    margin-bottom: 2.4em; 
    text-align: justify; 
  }
  
  .linkItems {
    font-size: 0.7em;
    padding: 10px 11px; 
    flex-direction: row;
    width: 60%;
    justify-content: center; 
    margin: 0 0 0.5em 2.8rem;
  }

  .buttonIcon {
    width: 20px;
    height: 20px;
  }
  
  .sliderImgItem {
    width: 100%;
    height: 100%;
    padding: 15px ;
    margin-top: 30px; 
   }

}


@media (max-width:360px) {
  #swiperWrapper {
    height: 62vh;
  }
 
  .swiperItemsMain {
    padding: 3rem 2rem 0 2rem;
    margin-top: 1.5rem;
  }
  
  .flex {
    flex-direction: column; 
    align-items: center; 
  }
  
  .mainTitle {
    font-size: 1em;
    margin-bottom: 0.5em; 
    text-align: center; 
  }
  
  .mainText {
    font-size: 0.5em;
    margin-bottom: 2.4em; 
    text-align: justify; 
  }
  
  .linkItems {
    font-size: 0.6em;
    padding: 10px 11px; 
    flex-direction: row;
    width: 60%;
    justify-content: center; 
    margin: 0 0 0.5em 2.5rem;
  }

  .buttonIcon {
    width: 18px;
    height: 18px;
  }
  
  
  .sliderImgItem {
    width: 100%;
    height: 100%;
    padding: 15px ;
    margin-top: 30px; 
   }

}

@media (max-width:320px) {
  #swiperWrapper {
    height: 75vh;
  }
 
  .swiperItemsMain {
    padding: 3rem 2rem 0 2rem;
    margin-top: 1.5rem;
  }

  .flex {
    flex-direction: column; 
    align-items: center; 
  }
  
  .mainTitle {
    font-size: 1em;
    margin-bottom: 0.5em; 
    text-align: center; 
  }
  
  .mainText {
    font-size: 0.5em;
    margin-bottom: 2.4em; 
    text-align: justify; 
  }
  
  .linkItems {
    font-size: 0.6em;
    padding: 10px 11px; 
    flex-direction: row;
    width: 60%;
    justify-content: center; 
    margin: 0 0 0.5em 2rem;
  }

  .buttonIcon {
    width: 16px;
    height: 16px;
  }
  
  .sliderImgItem {
    width: 100%;
    height: 100%;
    padding: 15px ;
    margin-top: 30px; 
   }

}