.section {
  background: radial-gradient(64.04% 69.77% at 50% 50%, #222325 0%, #181818 100%);
  padding-top: 5.5rem;
}

.sectioItems {
  padding-top: 5rem;
}

.sectionTitles {
  display: flex;
}

.sectionProducts {
  padding-bottom: 7rem;
}

.sectioTitle {
  font: 2.66em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin-right: 3.33rem;
}

.white {
  color: var(--white, #FFF);
}

.sectionText {
  font: 1.22em/145% "RadioCanada-Light", sans-serif;
}

.sectionProducts {
  display: flex;
  flex-wrap: wrap;
}

.beveragesLink {
  background: url(../../public/assets/img/beverages.png) no-repeat center top / cover ;
  padding: 1.5rem 9rem 15rem 3rem;
}

.confectLink {
  background: url(../../public/assets/img/confectionarys.png) no-repeat center top / cover ;
  padding: 1.5rem 9rem 15rem 2.5rem;
}

.alcoholLink {
  background: url(../../public/assets/img/alchol.png) no-repeat center top / cover ;
  padding: 1.5rem 9rem 15rem 3rem;
}

.cosmeticsLink {
  background: url(../../public/assets/img/cosmetics.png) no-repeat center top / cover ;
  padding: 1.5rem 7rem 15rem 2.5rem;
}

.cleanlinessLink {
  background: url(../../public/assets/img/clean.png) no-repeat center top / cover ;
  padding: 10px 16rem 15rem 2.5rem;
  width: 8ch;
}

.linkFonts {
  font: 1.44em/107.7% "PlayFairDisplay-Medium", sans-serif;
  color: var(--white);
}

.productsLinks {
  margin: 3rem 6rem 0 0;
  border-bottom: 2px solid var(--white);
}

@media (max-width:360px) {
  .section {
    padding-top: 4rem;
  }
   .sectioItems {
    padding-top: 2.5rem;
  }
  
  .sectionTitles {
    display: block;
  }
  
  .sectionProducts {
    padding-bottom: 2.5rem;
  }
  
  .sectioTitle {
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
  }
  
   .sectionText {
    font-size: 1em;
    text-align: justify;
  }
  
  .sectionProducts {
    display: flex;
    flex-wrap: wrap;
  }
  
  .beveragesLink,
  .confectLink,
  .alcoholLink,
  .cosmeticsLink,
  .cleanlinessLink {
    padding: 1.5rem 2rem 15rem 1.5rem;
    width: 100%; 
  }
   
  .linkFonts {
    font-size: 1.30em;
  }
  
  .productsLinks {
    margin: 2.2rem 1rem 0 0;
  }
 
 }