.section {
  background: radial-gradient(64.04% 69.77% at 50% 50%, #222325 0%, #181818 100%);
  padding-top: 5.5rem;
}

.sectioItems {
  padding-top: 5rem;
}

.flex {
  display: flex;
}

.sectionProducts {
  padding-bottom: 7rem;
}

.sectioTitle {
  font: 2.66em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin: 0 3.33rem 3rem 0;
}

.white {
  color: var(--white, #FFF);
}

.sectionText {
  font: 1.22em/145% "RadioCanada-Light", sans-serif;
}

.sectionProducts {
  flex-wrap: wrap;
}

.browse {
  font: 1.44em/107.7% "RadioCanada-Medium", sans-serif;
  color: var(--white);
  width: 15.5rem;
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--white);
  margin-right: 30px;
}

.browse:hover {
  background-color: #63DEA6;
  color: var(--black, #000);
}

.plus {
  margin-inline: 10px;
}

@media (max-width:650px) {
  .sectioItems {
    padding-top: 1rem;
  }

  .sectioTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sectionTitles {
    display: block;
  }

  .sectionText {
    font-size: 1rem;
    text-align: justify;
  }

  .sectionProducts {
    justify-content: center;
  }

  .browse {
    margin-bottom: 20px;
  }
}

@media (max-width:480px) {
  .sectioTitle {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
  }
  
   .sectionText {
    font-size: 0.6em;
    text-align: justify;
    margin-bottom: 10px;
  }
}

@media (max-width:360px) {
   .section {
    padding-top: 4rem;
  }
   .sectioItems {
    padding-top: 2.5rem;
  }
  
  .sectionTitles {
    display: block;
  }
  
  .sectionProducts {
    padding-bottom: 2.5rem;
  }
  
  .sectioTitle {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
  }
  
   .sectionText {
    font-size: 0.6em;
    text-align: justify;
  }
   
 }

