.section {
  background: radial-gradient(64.04% 69.77% at 50% 50%, #222325 0%, #181818 100%);
}

.sectioItems {
  padding-top: 5rem;
}

.sectionTitles {
  display: flex;
}

.sectionProducts {
  padding-bottom: 7rem;
}

.sectioTitle {
  font: 500 2.66em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin-right: 3.33rem;
}

.white {
  color: var(--white, #FFF);
}

.sectionText {
  font: 300 1.22em/145% "RadioCanada-Light", sans-serif;
}

.sectionProducts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.productsLinks {
  display: flex;
  align-items: center;
  margin: 3rem 6rem 0 0;
}

@media (max-width:360px) {
  .sectioItems {
    padding-top: 2.5rem;
  }

  .sectionTitles {
    display: block;
  }

  .sectionProducts {
    padding-bottom: 2.5rem;
  }

  .sectioTitle {
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
  }

  .sectionText {
    font-size: 1em;
    text-align: justify;
  }

  .productsLinks {
    margin: 2.2rem 1rem 0 0;
  }

  .productImages {
    width: 250px;
    height: 240px;
  }
 
 }