.categoryPage {
  margin-top: 5.5rem;
}

.categoryTitle {
  color: var(--white);
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  padding: 3rem 0;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productAdd {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black);
  padding: 1rem 0;
}

.productText {
  color: var(--white);
  font: 1em/108% "Gotham-Regular", sans-serif;
}