.categoryPage {
  margin-top: 5.5rem;
}

.white {
  color: var(--white, #fff);
}

.categoryTitle {
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  padding: 3rem 0;
}

.flex {
  display: flex;
} 

.productInfoContainer {
  flex-wrap: wrap;
  gap: 20px;
}

.productAdd {
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black);
  padding: 1rem 0;
}

.productText {
  font: 1em/108% "Gotham-Regular", sans-serif;
}

.marketingText {
  font: 1.66em/107% "PlayFairDisplay-Medium", sans-serif;
  padding: 3rem 0;
}

.alcoholText,
.alcoholTextEnd {
color: var(--grey);
font: 1em/125% "RadioCanada-Light", sans-serif;
}

.alcoholText {
  margin-bottom: 4rem;
}

.alcoholList {
  margin: 2.2rem;
  color: var(--white);
}

.listText,
.alcoholTextEnd {
  margin-bottom: 1.5rem;
}

@media (max-width:480px) {
  .categoryPage {
    margin-top: 3rem;
  }
  
  .categoryTitle {
    font-size: 2em;
    padding: 3rem 0;
  }
  
  .flex {
    flex-direction: column;
  }
  
  .productText {
    font-size: 1em;
  }
  
  .marketingText {
    font-size: 1.4em;
    padding: 2rem 0;
  }
  
  .alcoholText,
  .alcoholTextEnd {
    font-size: 1em;
  }
  
  .alcoholText {
    margin-bottom: 2rem;
  }
  
  .alcoholList {
    margin: 1.2rem;
  }
  
  .listText,
  .alcoholTextEnd {
    margin-bottom: 1rem;
  }
  
}

@media (max-width:360px) {
  .categoryPage {
    margin-top: 3rem; /* Reduced margin */
  }
  
  .white {
    color: var(--white, #fff);
  }
  
  .categoryTitle {
    font-size: 2.5em; /* Reduced font size */
    padding: 2rem 0; /* Reduced padding */
  }
  
  .flex {
    display: flex;
    flex-direction: column; /* Adjusted for smaller screens */
  }
  
  .productInfoContainer {
    gap: 10px; /* Reduced gap */
  }
  
  .productAdd {
    align-items: center;
    justify-content: center; /* Centered content */
    background-color: var(--black);
    padding: 1rem; /* Reduced padding */
  }
  
  .productText {
    font-size: 0.8em; /* Reduced font size */
  }
  
  .marketingText {
    font-size: 1.3em; /* Reduced font size */
    padding: 2rem 0; /* Reduced padding */
  }
  
  .alcoholText,
  .alcoholTextEnd {
    color: var(--grey);
    font-size: 0.9em; /* Reduced font size */
  }
  
  .alcoholText {
    margin-bottom: 2rem; /* Reduced margin */
  }
  
  .alcoholList {
    margin: 1.2rem; /* Reduced margin */
  }
  
  .listText,
  .alcoholTextEnd {
    margin-bottom: 1rem; /* Reduced margin */
  }
  
}