.alcoholArticle {
  background: url(/assets/img/alcoholbg.png) no-repeat center bottom / cover ;
}

.alcoholItems {
  margin-top:5.55em;
}

.alcoholTitle {
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  padding: 4rem 0 6rem;
}

.white {
  color: var(--white, #fff);
}

.flex {
  display: flex;
}

.calendarIconItem {
  margin-right: 10px;
}

.dataText {
  color: var(--grey, #C8C8C8);
  font: 1.22em/1.16em "Gotham-Light", sans-serif ;
  padding-bottom: 2rem;
}

@media (max-width:360px) {
  .alcoholArticle {
    background: url(/assets/img/alcoholbg.png) no-repeat right center / cover ;
  }
  
  .alcoholTitle {
    font-size: 2.5em;
    padding: 3rem 0 4rem;
  }
  
  .dataText {
    font-size: 1em;
  }
}