.sectionBrands {
  background: radial-gradient(64.04% 69.77% at 50% 50%, #222325 0%, #181818 100%);
  padding: 7rem 0;
}

.white {
  color: var(--white, #fff);
}

.brandsTitle {
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  margin-bottom: 1.5rem;
}

.brandsText {
  font: 1.22em/145% "RadioCanada-Light", sans-serif;
  margin-bottom: 2.5rem;  
}

.brandsImage {
  margin-top: 2.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 6rem;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(33, 33, 33) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 5.7rem;
  position: absolute;
  width: 12rem;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(12rem * 14);
}

.slideTrack:hover {
  animation-play-state: paused;
}

.slider .slide {
  display: flex;
  align-items: center;
  width: 15rem;
}

@media (max-width:480px) {
  .brandsTitle {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

  .brandsText {
    font-size: 1em;
    line-height: 1.5;
  }
}

@media (max-width:360px) {
  .sectionBrands {
    padding: 3rem 0;
  }
  
  .brandsTitle {
    font-size: 2em;
    margin-bottom: 1rem;
  }

  .brandsText {
    font-size: 0.8em;
    line-height: 1.5;
  }

}