.categoryPage {
  margin-top: 5.5rem;
}

.white {
  color: var(--white, #fff);
}

.categoryTitle {
  font: 3em/107% "PlayFairDisplay-Bold", sans-serif;
  padding: 3rem 0;
}

.flex {
  display: flex;
} 

.productInfoContainer {
  flex-wrap: wrap;
  gap: 20px;
}

.productAdd {
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black);
  padding: 1rem 0;
}

.productText {
  font: 1em/108% "Gotham-Regular", sans-serif;
}

.marketingText {
  font: 1.66em/107% "PlayFairDisplay-Medium", sans-serif;
  padding: 3rem 0;
}

.alcoholText,
.alcoholTextEnd {
color: var(--grey);
font: 1em/125% "RadioCanada-Light", sans-serif;
}

.alcoholText {
  margin-bottom: 4rem;
}

.alcoholList {
  margin: 2.2rem;
  color: var(--white);
}

.listText,
.alcoholTextEnd {
  margin-bottom: 1.5rem;
}