.contactsItems {
  margin-top: 5.5rem;
}

.contactsMain {
  width: 38rem;
  background-color: var(--black, #111010);
  padding: 3rem 3rem;
}

.white {
  color: var(--white, #fff);
}

.contactsTitle {
  font: 2.7em/107%  "PlayFairDisplay-Bold", sans-serif;
  padding: 2rem 0;
}

.flex,
.contactsContainer {
  display: flex;
}

.contactsContainer {
  gap: 15px;
}

.contactsLink {
  justify-content: space-between;
}

.contactsUpLinks {
  align-items: center;
  font: 1em "Gotham-Light", sans-serif;
  margin-bottom: 2rem;
}

.phone {
  font-family: "Gotham-Regular", sans-serif;
}

.linkIcons {
  margin-right: 1rem;
}

.leftTextItem,
.rightTextItem {
  color: var(--grey, #c8c8c8);
  font: 0.70em "Gotham-Light", sans-serif;
}

.leftTextItem {
  margin: 0 10px 10px 0;
}

.rightTextItem {
  font-size: 0.80em;
  font-family: "Gotham-Regular", sans-serif;
  margin-bottom: 7px;
}

.adress {
  max-width: 21ch;
}

.contactsSocLinks:not(:last-child) {
  margin-right: 24px;
  height: fit-content;
}

@media (max-width:992px) {
  .contactsMain,
  .iFrame {
    width: 92vw;
    margin: 0 auto;
  }

  .contactsContainer,
  .contactsLink,
  .contactsMain {
    flex-direction: column;
  }

  .textItems {
    justify-content: space-around;
  }
}

@media (max-width:600px) {
  .contactsBarcode {
    display: none;
  }
}

@media (max-width:480px) {
  .contactsMain,
  .iFrame {
    width: 92vw;
    margin: 0 auto;
  }

  .contactsContainer,
  .contactsLink,
  .contactsMain {
    flex-direction: column;
  }

  .textItems {
    justify-content: space-between;
  }

  .contactsBarcode {
    display: none;
  }
}

@media (max-width:360px) {
  .contactsMain,
  .iFrame {
    width: 90vw;
    margin: 0 auto;
  }

  .contactsTitle {
    text-align: center;
  }

  .contactsContainer,
  .contactsLink,
  .contactsMain {
    flex-direction: column;
  }


  .contactsLink {
    align-items: center;
  }

  .contactsBarcode {
    display: none;
  }
}