.articleTitle {
  color: var(--white, #FFF);
  font: 500 2.66em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin-right: 3rem;
}

.articleItems {
  padding-top: 6rem;
}

.articleItems,
.articleTextItems,
.trophy {
  display: flex;
  align-items: center;
}

.articleTextItems {
  border-bottom: 3px solid var(--green);
  height: 50px;
}

.quoteIcon,
.quoteIconBarcode {
  margin-right: 10px;
}

.articleText {
  color: var(--green, #63DEA6);
  font: 500 1em "RadioCanada-Regular", sans-serif;
}

.trophy {
  margin-top: 5rem;
  align-items: baseline;
  gap: 3rem;
}

.trophyItems {
  max-width: 305px;
  margin: 0 auto;
}

.trophyTitle {
  color: var(--sky, #E2F3FD);
  font: 500 1.44em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin: 2rem 0;
}

.selection {
  max-width: 17ch;
}

.trophyText {
  color: var(--grey, #C8C8C8);
  font: 300 1em/125% "RadioCanada-Medium", sans-serif;
  padding-bottom: 2rem;
}

@media (max-width: 992px) {
  .articleTitle {
    font-size: 2em;
    margin-right: 1.5rem;
  }

  .articleItems {
    padding-top: 3rem;
  }

  .trophy {
    margin-top: 3rem;
    flex-wrap: wrap;
  }

  .trophyItems {
    max-width: 100%;
  }

  .trophyTitle {
    font-size: 1.2em;
  }

  .trophyText {
    font-size: 0.9em;
  }
}

@media (max-width:480px) {
  .articleItems {
    padding-top: 2rem;
  }
  
  .articleTitle {
    font-size: 1.6em;
    margin-right: 2rem;
  }

  .quoteIconBarcode {
    width: 15px;
    height: 15px;
  }

  .articleText {
    font-size: 0.6em;
  }

  .trophy {
   margin-top: 2rem;
   flex-wrap: wrap;
  }

  .trophyText {
   padding-bottom: 0.5rem;
  }
  
 
 }