.accordionContainer {
  width: 40%;
  margin-right: 20px;
}

.accordionBackground {
  background-color: var(--black, #111010);
  color: var(--white, #fff);
}

.typoColor {
  background-color: var(--electric, #04C1C1);
}

.typoTitle {
  color: var(--black, #111010);
  font: 1.2em/107.7% "Gotham-Light", sans-serif;
}


@media (max-width:600px) {
  .accordionContainer {
    display: none;
  }
}
