.alcoholCompany {
  width: 35rem;
  margin: 0 auto;
}

.white {
  color: var(--white, #fff);
}

.alcoholTitle {
font: 2.66em/107.7% "PlayFairDisplay-Medium", sans-serif;
margin: 4rem 0 2.5rem;
}

.alcoholText,
.alcoholTextEnd {
color: var(--grey, #C8C8C8);
font: 1em/125% "RadioCanada-Light", sans-serif;
}

.alcoholList {
  margin: 2.2rem;
}

.listText,
.alcoholTextEnd {
  margin-bottom: 1.5rem;
}

.alcoholImage {
  margin: 2.5rem 0;
}

@media (max-width:650px) {
  .alcoholCompany {
    width: 100%; 
  }
  
  .alcoholTitle {
    font-size: 1.7em;
    margin: 2rem 0 1.25rem;
  }
  
  .alcoholText,
  .alcoholTextEnd {
    font-size: 0.9em;
  }
  
  .alcoholList {
    margin: 1.6rem;
  }
  
  .listText,
  .alcoholTextEnd {
    margin-bottom: 1rem;
  }
  
  .alcoholImage {
    margin: 1.5rem 0;
    width: 95vw;
    height: 30vh;
  }
}

@media (max-width:480px) {
  .alcoholCompany {
    width: 100%; 
  }
  
  .alcoholTitle {
    font-size: 1.7em;
    margin: 2rem 0 1.25rem;
  }
  
  .alcoholText,
  .alcoholTextEnd {
    font-size: 0.9em;
  }
  
  .alcoholList {
    margin: 1.6rem;
  }
  
  .listText,
  .alcoholTextEnd {
    margin-bottom: 1rem;
  }
  
  .alcoholImage {
    margin: 1.5rem 0;
    width: 95vw;
    height: 30vh;
  }
  
}

@media (max-width:360px) {
  .alcoholCompany {
    width: 100%; 
  }
  
  .alcoholTitle {
    font-size: 1.5em;
    margin: 2rem 0 1.25rem;
  }
  
  .alcoholText,
  .alcoholTextEnd {
    font-size: 0.8em;
  }
  
  .alcoholList {
    margin: 1.5rem;
  }
  
  .listText,
  .alcoholTextEnd {
    margin-bottom: 1rem;
  }
  
  .alcoholImage {
    margin: 1.5rem 0;
    width: 90vw;
    height: 21vh;
  }
  
}