.mainSend {
  padding: 4rem 0;
}

.sendItems {
  width: 28.2rem;
  padding: 44px 45px;
  margin: 5.5rem auto 0;
  background-color: var(--black, #000);
  text-align: center;
  border-radius: 5px;
}

.white {
  color: var(--white, #fff);
}

.sendTitle {
  font: 3em/107.7% "PlayFairDisplay-Medium", sans-serif;
  margin-bottom: 2rem;
}

.sendSpan {
  color: var(--electric, #04C1C1);
}

.sendText {
 color: var(--grey, #C8C8C8);
 font: 1.22em/145% "RadioCanada-Light", sans-serif;
}

.sendInput {
  display: block;
  width: 23.2rem;
  margin: 1.5rem 0;
}

.sendTextArea {
  resize: none;
}

.borderWhite {
  border: 1px solid var(--white);
}

.colorBlack {
  background-color: var(--black);
  padding: 1rem;

}

.sendInput::placeholder,
.sendTextArea::placeholder {
  color: rgba(255, 255, 255, 0.35);
  font: 1em/107.7% "Gotham-Light", sans-serif;
} 

.flex {
  display: flex;
}

.btnCase {
  justify-content: flex-end;
}

.sendBtn {
  padding: 20px;
  background-color: var(--green, #63DEA6);
  font: 1em/1.22em "RadioCanada-Medium", sans-serif;
  margin-top: 1em;
  cursor: pointer;
  align-items: center;
}

.sendBtnIcon {
  margin-right: 7px;
}

@media (max-width:480px) {
  .sendItems {
    width: 95vw;
    padding: 26px 27px;
    margin: 3.5rem auto 0;
    text-align: center;
  }

  .sendTitle {
    font-size: 2.5em;
  }

  .sendText {
    font-size: 1.3em;
    text-align: center;
  }
  
  .sendInput,
  .sendTextArea {
    width: 22.5rem;
  }

  .sendBtn {
    padding: 20px;
    font-size: 1em;
  }
  
}

@media (max-width:360px) {
  .sendItems {
    width: 90vw;
    padding: 24px 25.7px;
    margin: 3.5rem auto 0;
    text-align: center;
  }

  .sendTitle {
    font-size: 2em;
  }

  .sendText {
    font-size: 1em;
    text-align: justify;
  }
  
  .sendInput,
  .sendTextArea {
    width: 15rem;
  }

  .sendBtn {
    padding: 15px;
    font-size: 0.9em;
  }
  
}