.aboutItems {
  margin: 4rem 0;
}

.flex,
.aboutImage,
.operation {
  display: flex;
  align-items: center;
}

.between {
  justify-content: space-around;
}

.aboutTextCont {
  margin-top: 40px;
  border-left: 2px solid var(----electric, #04C1C1);
  height: 30rem;
  width: 30em;
}

.aboutText {
  color: var(--sky);
  font: 1.22em/145% "RadioCanada-Light", sans-serif;  
  padding: 0rem 0 2rem 2rem;
}

.width {
  padding-top: 3.5rem;
}

.aboutTitle {
  color: var(--electric);
  font: 2em/107.7% "PlayFairDisplay-Regular", sans-serif;
  text-align: center;  
}

.operation {
  background: url(/assets/img/operbg.png) no-repeat center top / cover;
  justify-content: center;
  margin-bottom: 5rem;
}

.operationText {
  width: 42rem;
  color: var(--grey);
  font: 1.55em/145% "RadioCanada-Regular", sans-serif;
  text-align: center;
  padding: 5rem 0;
}

@media (max-width:1024px) {
  .aboutItems {
    margin: 1.5rem 0;
  }
  
  .flex,
  .aboutImage,
  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .colaSprite {
    width: 50vw;
    height: 50vh;
  }
  
  .aboutTextCont {
    border-left: none;
    width: 90vw; 
    height: 15rem;
  }
  
  .aboutText {
    font-size: 1.2em;  
    padding: 0rem 0.9rem;
    text-align: center;
  }
  
  .aboutTitle {
    font-size: 2.2em;
  }
  
  .operation {
    margin-bottom: 3rem;
  }
  
  .operationText {
    width: 90vw;
    font-size: 1.3em;
    text-align: justify;
    padding: 3rem 0.5rem; 
  }
}

@media (max-width:680px) {
  .aboutTextCont {
    border-left: 1px solid;
    width: 100vw; 
    height: 18rem;
  }

  .colaSprite {
    width: 93vw;
    height: auto;
  }
}

@media (max-width:500px) {
  .aboutTextCont {
    border-left: 1px solid;
    width: 100vw; 
    height: 25rem;
  }
}

@media (max-width:480px) {
  .aboutItems {
    margin: 1.5rem 0;
  }
  
  .flex,
  .aboutImage,
  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .colaSprite {
    width: 92vw;
    height: auto;
  }
  
  .aboutTextCont {
    border-left: 1px solid;
    width: 100vw; 
    height: 30rem;
  }
  
  .aboutText {
    font-size: 1.2em;  
    margin-bottom: 50px;
    padding: 0rem 0.9rem;
    text-align: justify;
  }
  
  .aboutTitle {
    font-size: 2.2em;
  }
  
  .operation {
    margin-bottom: 3rem;
  }
  
  .operationText {
    width: 90vw;
    font-size: 1.3em;
    text-align: justify;
    padding: 3rem 0.5rem; 
  }
}

@media (max-width:360px) {
  .aboutItems {
    margin: 1rem 0;
  }
  
  .flex,
  .aboutImage,
  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .colaSprite {
    width: 90vw;
    height: auto;
  }
  
  .aboutTextCont {
    margin-top: 20px; 
    border-left: none;
    width: 100vw; 
  }
  
  .aboutText {
    font-size: 1.1em;  
    padding: 0rem 1rem;
    text-align: justify;
  }
  
  .aboutTitle {
    font-size: 1.5em;
  }
  
  .operation {
    margin-bottom: 3rem;
  }
  
  .operationText {
    width: 80%;
    font-size: 1.2em;
    text-align: center;
    padding: 3rem 0; 
  }
  
}